---
import { BasicMenubarDemo } from './MenubarDemo';
import '@patterns/menubar/menubar.css';

interface Props {}
---

<div class="border-border bg-background rounded-lg border p-6">
  <BasicMenubarDemo client:load />
</div>
