---
import MenubarDemoVue from './MenubarDemo.vue';
import '@patterns/menubar/menubar.css';

interface Props {}
---

<div class="border-border bg-background rounded-lg border p-6">
  <MenubarDemoVue client:load />
</div>
