---
import ButtonAstro from './Button.astro';

interface Props {
}
---

<div class="border-border bg-background rounded-lg border p-6">
  <div class="flex flex-wrap gap-4">
    <ButtonAstro>Click me</ButtonAstro>
    <ButtonAstro disabled>Disabled Button</ButtonAstro>
  </div>
</div>
