---
import { MuteDemo, DarkModeDemo, NotificationsDemo } from './ToggleButtonDemo';

interface Props {}
---

<div class="border-border bg-background rounded-lg border p-6">
  <div class="flex flex-wrap gap-4">
    <MuteDemo client:load />
    <DarkModeDemo client:load />
    <NotificationsDemo client:load />
  </div>
</div>
