---
import { Link as LinkReact } from './Link';

interface Props {
}
---

<div class="border-border bg-background rounded-lg border p-6">
  <div class="flex flex-col items-start gap-4">
    <LinkReact client:load href="https://www.w3.org/WAI/ARIA/apg/">
      WAI-ARIA APG Documentation
    </LinkReact>
    <LinkReact client:load href="https://example.com" target="_blank">
      External Link (opens in new tab)
    </LinkReact>
    <LinkReact client:load onClick={() => alert('Link clicked!')}>
      Link with onClick handler
    </LinkReact>
    <LinkReact client:load href="#" disabled>Disabled Link</LinkReact>
  </div>
</div>
