---
import type { Framework } from '@/lib/frameworks';
import LandmarkDemoAstro from './LandmarkDemo.astro';

interface Props {
  framework?: Framework;
}
---

<div class="border-border bg-background rounded-lg border p-6">
  <LandmarkDemoAstro showLabels={true} />
</div>
