---
import LandmarkDemoSvelte from './LandmarkDemo.svelte';

interface Props {
}
---

<div class="border-border bg-background rounded-lg border p-6">
  <LandmarkDemoSvelte client:load showLabels={true} />
</div>
