---
import LandmarkDemoVue from './LandmarkDemo.vue';

interface Props {}
---

<div class="border-border bg-background rounded-lg border p-6">
  <LandmarkDemoVue client:load showLabels={true} />
</div>
