---
import { Meter as MeterReact } from './Meter';

interface Props {
}
---

<div class="border-border bg-background rounded-lg border p-6">
  <div class="flex flex-col gap-6">
    <div><MeterReact value={75} label="CPU Usage" valueText="75%" /></div>
    <div><MeterReact value={3.5} min={0} max={5} label="Rating" valueText="3.5 / 5" /></div>
    <div><MeterReact value={-10} min={-50} max={50} label="Temperature" valueText="-10°C" /></div>
    <div><MeterReact value={65} min={0} max={100} label="Progress" valueText="65%" /></div>
  </div>
</div>
