---
import type { Framework } from '@/lib/frameworks';
import TooltipDemoSvelte from './TooltipDemo.svelte';

interface Props {
  framework?: Framework;
}
---

<div class="border-border bg-background rounded-lg border p-6">
  <TooltipDemoSvelte client:only="svelte" />
</div>
