---
import type { Framework } from '@/lib/frameworks';
import DataGridDemoVue from './DataGridDemo.vue';

interface Props {
  framework?: Framework;
}
---

<div class="border-border bg-background rounded-lg border p-6">
  <DataGridDemoVue client:load />
</div>
