---
import type { Framework } from '@/lib/frameworks';
import DataGridDemoSvelte from './DataGridDemo.svelte';

interface Props {
  framework?: Framework;
}
---

<div class="border-border bg-background rounded-lg border p-6">
  <DataGridDemoSvelte client:load />
</div>
